<h1>
Computational Intelligence Assignment 
</h1>
<p>
Implement SVM and KNN without any library. 
</p>

In [ ]:
# upload data
from google.colab import files
uploaded = files.upload()

Saving adult.csv to adult.csv

First of all, I've used `google.colab` to uploud my data and read them by `pandas`

In [ ]:
import io
import pandas as pd
import numpy as np
import sklearn.model_selection
features = ["Age", "Workclass", "fnlwgt", "Education", "Education-Num", "Martial Status",
              "Occupation", "Relationship", "Race", "Sex", "Capital Gain", "Capital Loss",
              "Hours per week", "Country", "Target"] 
df = pd.read_csv(io.StringIO(uploaded['adult.csv'].decode('utf-8')), names=features, sep=r'\s*,\s*', engine='python')
df.head()

   Age         Workclass  fnlwgt  ... Hours per week        Country Target
0   39         State-gov   77516  ...             40  United-States  <=50K
1   50  Self-emp-not-inc   83311  ...             13  United-States  <=50K
2   38           Private  215646  ...             40  United-States  <=50K
3   53           Private  234721  ...             40  United-States  <=50K
4   28           Private  338409  ...             40           Cuba  <=50K

[5 rows x 15 columns]


<h3>
The data must be preprocessed before using them for training 
</h3>


---


<p>
<ul>
<li>Missing data</li>
<p>
If missing data of every column is more than 10% so I'll remove the column otherwise I'll remove the records</p>

In [ ]:
def preprocess_missing_data(data):
  for c in data.columns:
    number_of_missing_data = data[c].isin(["?"]).sum()
    if number_of_missing_data > 0:
      percentage = float(number_of_missing_data)/data.shape[0]*100
      print("percentage of records with missig data: ", percentage,"%")
      if percentage < 10:
        data = data[data[c]!="?"]
      else :
        data = data.drop(c, axis=1)
  return data


df = preprocess_missing_data(df)
df.head()

percentage of records with missig data:  5.7307235575938735 %
percentage of records with missig data:  0.021718828052038314 %
percentage of records with missig data:  1.7617795929007454 %

   Age         Workclass  fnlwgt  ... Hours per week        Country Target
0   39         State-gov   77516  ...             40  United-States  <=50K
1   50  Self-emp-not-inc   83311  ...             13  United-States  <=50K
2   38           Private  215646  ...             40  United-States  <=50K
3   53           Private  234721  ...             40  United-States  <=50K
4   28           Private  338409  ...             40           Cuba  <=50K

[5 rows x 15 columns]

<ul>
<li>
Normalize Numerical Features
</li>

In [ ]:
def normalize_numerical_features(data):
  data_nums = data.select_dtypes(include=np.number)
  for c in data_nums.columns:
        max = data[c].max()
        min = data[c].min()
        data[c] = (data[c]-min)/(max-min)
  return data

df = normalize_numerical_features(df)
df.head()

        Age         Workclass    fnlwgt  ... Hours per week        Country Target
0  0.301370         State-gov  0.043350  ...       0.397959  United-States  <=50K
1  0.452055  Self-emp-not-inc  0.047274  ...       0.122449  United-States  <=50K
2  0.287671           Private  0.136877  ...       0.397959  United-States  <=50K
3  0.493151           Private  0.149792  ...       0.397959  United-States  <=50K
4  0.150685           Private  0.219998  ...       0.397959           Cuba  <=50K

[5 rows x 15 columns]

<ul>
<li>One-Hot Encoding</li>
<p>for preprocess non-numerical feature except the Target!</p>
</ul>

In [ ]:
def one_hot_encoding(data):
  # Y:
  data['Target'] = data['Target'].replace('<=50K', 0).replace('>50K', 1)
  # X:
  data_cat = data.select_dtypes(exclude=np.number)
  data = pd.get_dummies(data, columns=data_cat.columns)
  return data

df = one_hot_encoding(df)
df.tail()

            Age    fnlwgt  ...  Country_Vietnam  Country_Yugoslavia
48836  0.219178  0.156895  ...                0                   0
48837  0.301370  0.136723  ...                0                   0
48839  0.287671  0.244762  ...                0                   0
48840  0.369863  0.047666  ...                0                   0
48841  0.246575  0.114195  ...                0                   0

[5 rows x 105 columns]


<p>Divide train, validation and test set from x and y</p>

In [ ]:
X = df.drop("Target", axis=1)
Y = np.array(df["Target"])
x_train,x_test,y_train,y_test=sklearn.model_selection.train_test_split(X, Y, test_size=0.2)
x_train.head()
x_train,x_validation,y_train,y_validation=sklearn.model_selection.train_test_split(x_train, y_train, test_size=0.25)

**SVM**


---

In [ ]:
from sklearn.svm import SVC

def SVM_prediction(x_train, y_train, x_test):
  svclassifier = SVC(kernel='linear')
  svclassifier.fit(x_train, y_train)
  y_pred = svclassifier.predict(x_test)
  return y_pred


y_pred = SVM_prediction(x_train, y_train, x_test)

In [ ]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test,y_pred)
print("accuracy : ", accuracy, "%")

accuracy :  0.8442233278054173 %


**KNN**


---

In [ ]:
def find_destinations(x, x_train):
  destinations = []
  # for i in range(1, len(x_train)):
  #   dest = np.sqrt(np.sum(np.power(np.array(x) - np.array(x_train.iloc[i]), 2)))
  #   destinations.append(dest)
  dest = np.sqrt(np.sum(np.power(np.array(x) - np.array(x_train), 2), axis=1))
  return dest
  
destinations = find_destinations(x_test.iloc[1], x_train)
destinations

array([3.53643188, 3.48069672, 3.17342478, ..., 2.85973997, 2.85555558,
       3.47154462])

In [ ]:
def predicate_y(y_train, indexes):
  sum = 0
  for i in indexes:
    sum += y_train[i]
  possibility = sum/len(indexes)
  return possibility

In [ ]:
def KNN(x_train, y_train, x_validation, y_validation, K=5):
  y_pre = []
  for i in range(0, len(x_validation)):
    dests = find_destinations(x_validation.iloc[i], x_train)
    dests = np.array(dests)
    indexes = dests.argsort()[:K]
    pos = predicate_y(y_train, indexes)
    pre = 0 if pos < 0.5 else 1
    if i % 2000 == 0 :
      print("predicate : ", pre , "  actual : ", y_validation[i])
    y_pre.append(pre)
  return y_pre


Find the best K for the algorithm


---

In [ ]:
max_accuracy = 0
best_K = 0;
for k in range(5, 30, 5):
  print("K=", k)
  y_pre = KNN(x_train, y_train, x_validation, y_validation, k)
  accuracy = np.sum(y_pre == y_validation) / len(y_pre) * 100
  print("Accuracy: %.2F%% " %accuracy)
  print("")
  if accuracy > max_accuracy:
    max_accuracy = accuracy
    best_K = k

y_pre = KNN(x_train, y_train, x_test, y_test, best_K) 
accuracy = np.sum(y_pre == y_test) / len(y_pre) * 100
print("Accuracy with K = ", best_K, " : %.2F%% " %accuracy)

K= 5
predicate :  0   actual :  0
predicate :  1   actual :  0
predicate :  1   actual :  1
predicate :  0   actual :  0
predicate :  0   actual :  1
Accuracy: 82.29%

K= 10
predicate :  0   actual :  0
predicate :  0   actual :  0
predicate :  1   actual :  1
predicate :  0   actual :  0
predicate :  0   actual :  1
Accuracy: 82.51%

K= 15
predicate :  0   actual :  0
predicate :  0   actual :  0
predicate :  1   actual :  1
predicate :  0   actual :  0
predicate :  0   actual :  1
Accuracy: 83.20%

K= 20
predicate :  0   actual :  0
predicate :  0   actual :  0
predicate :  1   actual :  1
predicate :  0   actual :  0
predicate :  0   actual :  1
Accuracy: 83.29%

K= 25
predicate :  0   actual :  0
predicate :  0   actual :  0
predicate :  1   actual :  1
predicate :  0   actual :  0
predicate :  0   actual :  1
Accuracy: 83.48%

predicate :  0   actual :  0
predicate :  0   actual :  0
predicate :  0   actual :  0
predicate :  0   actual :  0
predicate :  1   actual :  1
Accuracy with K =  25  : 82.95%